<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- thư viện -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"

    <!-- base css -->
    <link rel="stylesheet" href="../../css/base/common.css" />
    <!-- detail css -->
  </head>

  <body>
    <div class="toast-message">
      <span class="title">Thêm thành công</span>
      <div class="icon-x"></div>
    </div> 
  </body>
</html>
